<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Tag : {{ page.tag-name }}</title>
<meta name="description" content="Kumpulan artikel yang berkaitan dengan {{ page.tag-name }}">
<meta name="keywords" content="{{ page.tag-name }}">

<meta property="og:type" content="article">
<meta property="og:title" content="Tag : {{ page.tag-name }}">
<meta property="og:url" content="https://blogsatu.net/tag/{{ page.tag-name }}">
<meta property="og:description" content="Kumpulan artikel yang berkaitan dengan {{ page.tag-name }}">
<meta property="og:image" content="{{ site.url }}/blogsatu.png">
<meta property="article:published_time" content="{% if page.tanggalpostterbit %}{{ page.tanggalpostterbit }}{% else %}{{ site.pertamaterbit }}{% endif %}">
<meta property="article:modified_time" content="{% if page.tanggalpostmodif %}{{ page.tanggalpostmodif }}{% else %}{{ site.pertamamodif }}{% endif %}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@blogsatu" />
<meta name="twitter:creator" content="@blogsatu" />
<meta property="og:url" content="https://blogsatu.net/tag/{{ page.tag-name }}" />
<meta property="og:title" content="Tag : {{ page.tag-name }}" />
<meta property="og:description" content="Kumpulan artikel yang berkaitan dengan {{ page.tag-name }}" />
<meta property="og:image" content="{{ site.url }}/blogsatu.png" />
<link rel="canonical" href="https://blogsatu.net/tag/{{ page.tag-name }}">

<meta name="author" content="AchmadYangPertama">
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
<link rel="icon" href="/favicon.ico?" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:,i,b,bi,900,900i%7CMontserrat:,b%7CInconsolata:,b&amp;display=swap">
<link rel="stylesheet" href="{{ site.baseurl }}/style/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/style/clearings.css">
<link rel="stylesheet" href="{{ site.baseurl }}/style/genericons.css">
<link rel="stylesheet" href="{{ site.baseurl }}/style/highlight.css">
<link rel="stylesheet" href="{{ site.baseurl }}/style/social.css">
<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/44.375.css" media="screen and (min-width: 44.375em)">
<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/56.875.css" media="screen and (min-width: 56.875em)">
<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/61.5625.css" media="screen and (min-width: 61.5625em)">
<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/85.125.css" media="only screen and (min-width: 85.125em)">
<link rel="stylesheet" href="{{ site.baseurl }}/style/print.css" media="only print">

{% include ga4.liquid %}


</head>
<body>
	<header>
		<div class="brand">
			<h1><a href="{{ site.baseurl }}/" rel="home">{{ site.title }}</a></h1>
			
		</div>
		<input hidden type="checkbox" id="ballot">
		<label class="toggle" for="ballot">Menu</label>
		{% include navigation.liquid %}
	</header>
	<main>

<h2>Tag: {{ page.tag-name }}</h2>

<ul>
  {% for post in site.posts %}
  {% if post.tags contains page.tag-name %}
   <li>
  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
   </li>
  {% endif %}
  {% endfor %}
</ul>


	</main>
	<aside>
		<section>
			<h2>Categories</h2>
			<ul>
				{% assign categories = site.categories | sort %}
				{% for category in categories %}
					<li><a href="{{ site.baseurl }}/category/{{ category[0] | slugify | uri_escape }}">{{ category[0] }}</a></li>
				{% endfor %}
			</ul>
		</section>
		
		<section>
			<h2>Recent posts</h2>
			<ul>
				{% for post in site.posts limit: 5 %}
					<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</section>
	</aside>
	<footer>
		{% include navigation.liquid %}
		<p><a rel="tag" href="/">Blogsatu.net</a> is powered by Jekyll And Github Pages</p>
	</footer>
</body>
</html>
